# Admin Email for Seeding
NUXT_ADMIN_EMAIL=admin@example.com
NUXT_ADMIN_PASSWORD=$1Password

# Public URL, used for OG Image when running nuxt generate
NUXT_PUBLIC_SITE_URL=

# GitHub OAuth
NUXT_OAUTH_GITHUB_CLIENT_ID=
NUXT_OAUTH_GITHUB_CLIENT_SECRET=

# Google OAuth
NUXT_OAUTH_GOOGLE_CLIENT_ID=
NUXT_OAUTH_GOOGLE_CLIENT_SECRET=

# Session Password (A random string of at least 32 characters)
NUXT_SESSION_PASSWORD=


# Mail Configuration 
NUXT_EMAIL_FROM='"Auth" <noreply@auto-crud.clifland.in>'
NUXT_RESEND_API_KEY=<API Key>

NUXT_PUBLIC_GA_ID=<Google Analytics ID>
NUXT_PUBLIC_ADS_ID=<Google Ads ID>
